{% extends 'base.html' %}

{% block dropdown %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Utility
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'create_course' %}">Create Course</a></li>
                <li><a class="dropdown-item" href="{% url 'create_class' %}">Create Class</a></li>
                <li><a class="dropdown-item" href="{% url 'assign_subject' %}">Assign Subject</a></li>

            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Staff
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'create_faculty' %}">Create Faculty</a></li>
                <li><a class="dropdown-item" href="{% url 'assign_class' %}">Assign Class</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'ulogout' %}">Logout</a>
        </li>
    </ul>

</div>



{% endblock dropdown %}