{% extends 'base_fac.html' %}

{% block title %}Faculty{% endblock title %}

{% block body %}
{% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
    {% endif %}
<h1 style='text-align:center; padding-top:20px;'>Faculty Dashboard</h1>

<br>
<br>
<div style='padding-left:300px;'>
    <a href="{% url 'mark_attendance' %}"><button class="btn btn-primary">Mark Attendance</button></a>
</div>
<br>
<div style='padding-left:300px;'>
    <a href="{% url 'add_timetable' %}"><button  class="btn btn-primary">Add Timetable</button></a>
</div>
<br>
<div style='padding-left:300px;'>
    <a href="{% url 'showreport' %}"><button  class="btn btn-primary">Show Report</button></a>
</div>
{% endblock body %}