{% extends 'base_fac.html' %}

{% block title %}Faculty{% endblock title %}

{% block body %}
<h1 style='text-align:center; padding-top:20px;'>Faculty Dashboard</h1>

<br>
<br>
<div style='padding-left:300px;'>
<button type="button" class="btn btn-primary">Create Class</button>
</div>
<br>
<div style='padding-left:300px;'>
    <button type="button" class="btn btn-primary">Create Course</button>
</div>
<br>
<div style='padding-left:300px;'>
    <button type="button" class="btn btn-primary">Mark Attendance</button>
</div>
{% endblock body %}