{% extends 'base_fac.html' %}

{% block title %}List Students{% endblock title %}

{% block body %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<h3 style="text-align: center; padding-top:30px;">
    Student List
</h3>


<div class="t-spacing">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Roll No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Reg No</th>
            <th scope="col">Class</th>
          </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <th scope="row">{{student.roll_no}}</th>
                    <td>{{student.name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.reg_no}}</td>
                    <td>{{student.s_class}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>    
</div>




  {% endblock body %}